@media (max-width: 479px) {

    :root {
        --font_size: 14px;
        --font_size_title: 30px;
    }

    header .mob_menu_btn {
        width: 63px;
        height: 58px;
    }
    header .mob_menu_btn img {
        width: 100%;
        height: 100%;
    }
  

   
}
