/* For old browsers */
@supports (not(--css: variables)) {
    .supports_error {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .supports_error {
        display: flex !important;
    }
}





/*------------------
    Reset styles
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    scroll-behavior: smooth;  
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;

    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;

}

img {
    border-style: none;
}

textarea {
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button {
    margin: 0;

    -webkit-border-radius: 0;
    border-radius: 0;
    outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
    appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

:focus {
    outline: 0;
}

:hover,
:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear {
    display: none;
}



/*-------------------
    Global styles
-------------------*/
:root {
    --text_color: #000;
    --font_size: 16px;
    --font_size_title: 40px;
    --font_family: 'Ubuntu';
}


::selection {
    color: #fff;

    background: #18A0FB;
}

::-moz-selection {
    color: #fff;

    background: #18A0FB;
}


.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}



html {
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


body {
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: var(--font_size);
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;

}


button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 360px;
    min-height: 100%;

    background: var(--bg);
}


.main {
    flex: 1 0 auto;
}


.cont {
    width: 100%;
    max-width: 1244px;
    margin: 0 auto;
    padding: 0 20px;
}


.lozad {
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded {
    opacity: 1;
}


.row {
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.overlay {
    position: fixed;
    z-index: 102;
    top: 170px;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .65;
    background: #000;
}



.supports_error {
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show {
    display: flex;
}





/*------------
    Header
------------*/

header .mob_menu_btn {
    display: none;
    width: 98px;
    height: 90px;
    margin-right: 0px;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 8;
}
header .close_btn {
    color: #000;   
    order: 1;
    display: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 30px;
    width: 98px;
    height: 90px;
}
header .menu {
    display: flex;
    align-items: center;
}
header .menu .item a {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #212121;
    position: relative;   
    transition: color .2s linear;
    text-decoration: none;
    position: relative;
    transition: all .4s;
    display: block;
    text-decoration: none;
    cursor: pointer;
    margin-right: 34px;
}
header .menu .item:last-child a {
    margin-right: 0;
}
header .menu .item > a:hover {
    color: #0AA7B1;
}
header {
    padding: 60px 0 68px;
    position: fixed;
    z-index: 200;
    background: #fff;
    width: 100%;
}
header .cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_contacts-phone {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 30px;
    line-height: 42px;
    text-align: right;
    text-transform: uppercase;
    color: #212121;
    text-decoration: none;
    white-space: nowrap;
}
.header_contacts-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.header_contacts-soc {
    display: flex;
    align-items: center;
}
.header_contacts-soc a {
    width: 36px;
    height: 38px;
    display: block;
    top: 0;
    transition: all .4s;
}
.header_contacts-soc a:hover {
    transform: translateY(-7px);
    position: relative;    
}
.header_contacts-soc a + a {
    margin-left: 15px;
}
.btn_callback {
    width: 162px;
    height: 38px;
    background: #F3CD67;
    box-shadow: 0px 5px 15px rgba(243, 205, 103, 0.2);
    border-radius: 2px;
    font-weight: 700;
    font-size: 12px;
    line-height: 30px;
    text-transform: uppercase;
    color: #212121;
    transition: all .4s;
}
.btn_callback:hover {
    background: #E2B848;
}
.btn_callback:active {
    background: #0AA7B1;
    box-shadow: 0px 5px 15px rgba(10, 167, 177, 0.4);
    color: #FFFFFF;
}

.title {
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #212121;
}




.benefits_items {
    display: flex;
    align-items: stretch;
    margin-left: -20px;
    margin-bottom: -20px;
}
.benefits_items > * {
    width: calc(100%/4 - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
}
.benefits_item {
    background: #FFFFFF;
    box-shadow: 0px 26px 31px -10px rgba(0, 0, 0, 0.06);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 37px 25px;
    position: relative;
}
.benefits_item-icon {
    margin-bottom: 24px;
}
.benefits_item-title {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #212121;
    margin-bottom: 15px;
}
.benefits_item-text {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #212121;
}
.benefits_item::before {
    position: absolute;
    content: "";
    width: 56px;
    height: 2px;
    background: url(../images/benefits_item_bg.svg);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}




.first-section {
    margin-top: 228px;
}
.first-section .cont {
    position: relative;
    background: linear-gradient(90deg, #0AA7B1 0%, rgba(10, 167, 177, 0) 66.49%), url(../images/first-section_img.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}
.first-section_info {
    max-width: 673px;
    width: 100%;
    padding: 37px 49px 86px;    
}
.first-section_title {
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.22);
    margin-bottom: 33px;
}
.first-section_btns {
    display: flex;
    align-items: center;
}
.first-section_btns a:nth-child(1) {
    width: 202px;
    height: 38px;    
    background: #FFFFFF;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.04);
    border-radius: 2px;  
    font-weight: 700;
    font-size: 12px;
    line-height: 38px;
    text-transform: uppercase;
    color: #212121; 
    text-decoration: none;
    text-align: center;
    margin-right: 25px;
}
.first-section_btns a:nth-child(2) {
    width: 215px;
    height: 38px;    
    background: #F3CD67;
    box-shadow: 0px 5px 15px rgba(243, 205, 103, 0.2);
    border-radius: 2px;
    font-weight: 700;
    font-size: 12px;
    line-height: 38px;
    text-transform: uppercase;
    color: #272727;
    text-decoration: none;
    text-align: center;
}




.object {
    padding: 70px 0;
}
.object_title {
    margin-bottom: 60px;
}
.object_items {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-bottom: -40px;
}
.object_items > * {
    width: calc(100%/3 - 20px);
    margin-left: 20px;
    margin-bottom: 40px;
}
.object_item-img img {
    width: 100%;
    height: auto;
}
.object_item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #212121;
    margin-top: 17px;
}
.object_item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #212121;
    margin-top: 12px; 
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.object_item-link {
    text-decoration: none;
    width: 179px;
    height: 38px;
    border: 1px solid #F3CD67;
    box-shadow: 0px 7px 15px rgba(243, 205, 103, 0.4);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 12px;
    line-height: 38px;
    color: #212121;
    padding: 0 22px;
    white-space: nowrap;
    margin-top: 12px;
    transition: all .4s;
}
.object_item-link .icon {
    width: 12px;
    height: 6px;
    fill: #212121;
}
.object_item-link:hover {
    background: #F3CD67;
    box-shadow: 0px 7px 15px rgba(243, 205, 103, 0.4);
}
.object_item-link:active {
    background: #0AA7B1;
    box-shadow: 0px 5px 15px rgba(10, 167, 177, 0.4);
    color: #fff;
}
.object_item-link:active .icon {
    fill: #fff;
}




.about .cont {
    display: flex;
    justify-content: space-between;
}
.about_info {
    margin-right: 126px;
}
.about_title {
    margin-bottom: 75px;
    text-align: start;
}
.about_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #212121;
}
.about_text p {
    margin-bottom: 25px;
}
.about_text p:last-child {
    margin-bottom: 0px;
}
.about_link {
    width: 350px;
    height: 75px;
    background: #0AA7B1;
    box-shadow: 0px 8px 14px rgba(10, 167, 177, 0.3);
    border-radius: 2px;
    padding: 0 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    color: #FFFFFF;
    margin-top: 75px;
}
.about_link span {
    display: block;
    margin-left: 40px;
}
.about_link .icon {
    width: 31px;
    height: 31px;
    fill: #FFFFFF;
}
.about_img {
    margin-right: -345px;
}




.callback {
    background: url(../images/callback_bg.png);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: bottom center;
}
.callback .cont {
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.callback_title {
    margin-bottom: 10px;
}
.callback_text {
    text-align: center;
    font-weight: 300;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    color: #212121;
    text-shadow: 0px 6px 10px rgba(0, 0, 0, 0.04);
    margin-bottom: 30px;
}
.callback_form {
    padding: 22px 20px;     
    background: rgba(255, 255, 255, 0.01);
    mix-blend-mode: normal;
    border: 1px solid #0AA7B1;
    box-shadow: 0px 14px 40px -6px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(2.5px);
    max-width: 530px;
    width: 100%;
}
.callback_form form {
   background: rgba(255, 255, 255, 0.96);
   padding: 38px;
}
.callback_form .line {
    margin-bottom: 18px;
}
.callback_form .line label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
    color: #212121;
    margin-bottom: 8px;
}
.nice-select {
    width: 100%;
    background: #FAFAFA;
    border: solid 1px #E3E3E3;    
    border-radius: 2px;
    height: 42px;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    line-height: 42px;
    color: #757575;
    padding: 0 14px;
    margin-bottom: 18px;
}
.nice-select.open .list {
    width: 100%;
    border: 1px solid #212121;
    border-top: none;
    border-radius: 2px;
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.nice-select .list {
    border-radius: 2px;
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}
.nice-select:active, 
.nice-select.open, 
.nice-select:focus {
    border: 1px solid #212121;    
}
.nice-select.open {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.callback form input {
    background: #FAFAFA;
    border: 1px solid #E3E3E3;
    border-radius: 2px;
    padding: 0 44px 0 14px;
    width: 100%;
    height: 45px;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #212121;
}
.callback form input:focus {
    border: 1px solid #212121;
}
.callback form label {
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
    color: #212121; 
    margin-bottom: 8px;
    display: block;
}
.callback input::-webkit-input-placeholder {
    color: #757575;
}
.callback input::-moz-placeholder {
    color: #757575;
}
.callback input:-moz-placeholder {
    color: #757575;
}
.callback input:-ms-input-placeholder {
    color: #757575;
}
.callback_politic {
    margin-top: 48px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #AAAAAA;
}
.callback_politic a {
    color: #0AA7B1;
    text-decoration: none;
}
.callback form button {
    margin-top: 12px;
    width: 414px;
    height: 45px;
    background: #F3CD67;
    box-shadow: 0px 7px 15px rgba(243, 205, 103, 0.4);
    border-radius: 2px;
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: all .4s;
}
.callback form button:hover {
    background: #E2B848;
}
.callback form button:active {
    background: #0AA7B1;
    box-shadow: 0px 5px 15px rgba(10, 167, 177, 0.4);
    color: #FFFFFF;
}
.callback form textarea {
    background: #FAFAFA;
    border: 1px solid #E3E3E3;
    border-radius: 2px;
    padding: 9px 14px;
    width: 100%;
    height: 45px;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #212121;
    resize: none;
}
.callback form textarea:focus {
    border: 1px solid #212121;
}




.license_title {
    text-align: start;
    margin-bottom: 34px;
}
.license .swiper-container {
    /* overflow: hidden; */
    position: relative;
}
.license_item {
    position: relative;
    display: block;
}
.license_item img {
    width: 100%;
    height: auto;
}
.license_item:before {
    background: #F3CD67;
    opacity: 0;
    box-shadow: 0px 12px 30px -6px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    content: "";
    z-index: 1;
    width: 100%;
    height: auto;
}
.license_item::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 40px;
    height: 40px;
    background: url(../images/view.svg);
    opacity: 0;
}
.license_item:hover:before {
    opacity: 0.8;
}
.license_item:hover:after {
    opacity: 1;
}
.license_text {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #757575;
    width: calc(100% - 510px);
    margin-bottom: 60px;
}
.license_text img {
    position: absolute;
    right: -100%;
    top: -100px;
}
.license .swiper-button-prev {
    width: 73px;
    height: 48px;
    background: #F3CD67;
    box-shadow: 0px 5px 15px rgba(243, 205, 103, 0.2);
    border-radius: 2px;
    transform: translateY(-50%);
    left: calc(50% - 650px);
    transition: all .4s;
}
.license .swiper-button-next {
    width: 73px;
    height: 48px;
    background: #F3CD67;
    box-shadow: 0px 5px 15px rgba(243, 205, 103, 0.2);
    border-radius: 2px;
    transform: translateY(-50%);
    left: calc(50% + 580px);
    transition: all .4s;
}
.license .swiper-button-prev:before {
    background: url(../images/arrow_prev.svg);
    background-repeat: no-repeat;
    position: absolute;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 29px;
    height: 10px;
}
.license .swiper-button-next:before {
    background: url(../images/arrow_next.svg);
    background-repeat: no-repeat;
    position: absolute;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 29px;
    height: 10px;
}
.license .swiper-button-prev:hover {
    background: #E2B848;
}
.license .swiper-button-next:hover {
    background: #E2B848;
}
.license .swiper-button-prev:active {
    background: #0AA7B1;
    box-shadow: 0px 5px 15px rgba(10, 167, 177, 0.4);
}
.license .swiper-button-next:active {
    background: #0AA7B1;
    box-shadow: 0px 5px 15px rgba(10, 167, 177, 0.4);
}
.license .swiper {
    overflow: visible !important;
}
.license .swiper-slide {
    position: relative;
    visibility: hidden;
    width: auto;
    transition: opacity .2s linear, visibility .2s linear;
    pointer-events: none;
    opacity: 0;
}
.license .swiper-slide.visible {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
}
.lazyload,
.swiper-lazy {
    transition: opacity .5s linear;
    opacity: 0;
}
.lazyload.loaded,
.swiper-lazy-loaded {
    opacity: 1;
}




.reviews {
    padding: 75px 0 130px;
}
.reviews .cont {    
    background: url(../images/reviews_bg.png);
    background-repeat: no-repeat;
}
.reviews_title {
    margin-bottom: 23px;
}
.reviews_text {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #7B7B7B;
    margin-bottom: 67px;
}
.reviews_text span {
    font-weight: 700;
    color: #212121;
}
.reviews_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reviews_item-top {
    display: flex;
    align-items: center;
    margin-bottom: 38px;
}
.reviews_item-photo {
    width: 112px;
    height: 112px;
    border-radius: 50%;
}
.reviews_item-photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.reviews_item-info {
    margin-left: 31px;
}
.reviews_item-name {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #212121;
}
.reviews_item-date {
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    color: #7B7B7B;
}
.reviews_item-lyke {
    margin-left: -10px;
}
.reviews_item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #212121;
    max-width: 875px;
}
.swiper-button-prev {
}
.swiper-button-next {
}



.accordion {
    padding: 140px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: url(../images/faq_bg.svg);
}
.accordion_item-icon {
    fill: #D9D9D9;
    width: 15px;
    height: 9px;
}
.accordion_title {
    margin-bottom: 60px;
}
.accordion_item {
    margin-bottom: 18px;
    background: #FFFFFF;
    box-shadow: 0px 12px 18px -4px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    border: 1px solid #D9D9D9;
}
.accordion_item:last-child {
    margin-bottom: 0px;
}
.accordion_item-head {
    padding: 20px 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.accordion_item-title {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #7B7B7B;
}
.accordion_item-data {
    display: none;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0AA7B1;
    padding: 14px 27px 20px;
}
.accordion_item.active .accordion_item-icon {
    fill: #0AA7B1;
    transform: rotate(180deg);
}
.accordion_item.active .accordion_item-title {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #0AA7B1;
}
.accordion_item.active {
    background: #E8FEFF;
    border: 2px solid #0AA7B1;
    box-shadow: 0px 12px 18px -4px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}
.accordion_item.active .accordion_item-head {
    background: #E8FEFF;
    border: none;
    box-shadow: none;
}
.accordion_text {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #212121;
    margin-top: 60px;
}
.accordion_link {
    width: 457px;
    height: 75px;
    background: #0AA7B1;
    box-shadow: 0px 8px 14px rgba(10, 167, 177, 0.3);
    border-radius: 2px;
    padding: 0 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    color: #FFFFFF;
    margin: 18px auto 0;
}
.accordion_link span {
    display: block;
    margin-left: 40px;
}
.accordion_link .icon {
    width: 31px;
    height: 31px;
    fill: #FFFFFF;
}






footer {
    padding: 29px 0 33px;
    background: #212121;
}
footer .cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 337px;
}
footer .menu .item a {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    transition: color .2s linear;
    text-decoration: none;
    position: relative;
    transition: all .4s;
    display: block;
    text-decoration: none;
    cursor: pointer;
    margin-right: 34px;
    margin-bottom: 17px;
}
footer .menu .item > a:hover {
    color: #0AA7B1;
}
.footer_contacts {
    display: flex;
    align-items: center;
}
.footer_contacts-soc {
    display: flex;
    align-items: center;
}
.footer_contacts-phone {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF; 
    text-decoration: none;
    display: block;
    margin-left: 36px;
    margin-right: 22px;
    transition: all .4s;
}
.footer_contacts-phone:hover {
    color: #0AA7B1;
}
.footer_contacts-soc a:nth-child(1) {
    width: 16px;
    height: 14px;
    display: block;    
    margin-right: 24px;
    margin-top: -8px;
}
.footer_contacts-soc a:nth-child(2) {
    width: 17px;
    height: 17px;
    display: block;   
    margin-top: -8px; 
}
.footer_contacts-soc a {
    top: 0;
    transition: all .4s;    
}
.footer_contacts-soc a:hover {
transform: translateY(-5px);
position: relative;    
}



.modal {    
    max-width: 490px;
    width: 100%;
    background: #fff;
    padding: 94px 38px 49px;
    display: none;
}
.fancybox__content>.carousel__button.is-close {
    position: absolute;
    top: 40px;
    right: 50%;
    transform: translateX(50%);
}
.modal_title {
    margin-bottom: 10px;
}
.modal_text {
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    color: #212121;
    text-shadow: 0px 6px 10px rgba(0, 0, 0, 0.04);
    margin-bottom: 48px;
}
.modal form .line {
    margin-bottom: 26px;
}
.modal form input {
    background: #FAFAFA;
    border: 1px solid #E3E3E3;
    border-radius: 2px;
    padding: 0 44px 0 14px;
    width: 100%;
    height: 45px;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #212121;
}
.modal form input:focus {
    border: 1px solid #212121;
}
.modal form label {
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
    color: #212121; 
    margin-bottom: 8px;
    display: block;
}
input::-webkit-input-placeholder {
    color: #757575;
}
input::-moz-placeholder {
    color: #757575;
}
input:-moz-placeholder {
    color: #757575;
}
input:-ms-input-placeholder {
    color: #757575;
}
.modal_politic {
    margin-top: 48px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #AAAAAA;
}
.modal_politic a {
    color: #0AA7B1;
    text-decoration: none;
}
.modal form button {
    margin-top: 12px;
    width: 414px;
    height: 45px;
    background: #F3CD67;
    box-shadow: 0px 7px 15px rgba(243, 205, 103, 0.4);
    border-radius: 2px;
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #212121;
    transition: all .4s;
}
.modal form button:hover {
    background: #E2B848;
}
.modal form button:active {
    background: #0AA7B1;
    box-shadow: 0px 5px 15px rgba(10, 167, 177, 0.4);
    color: #FFFFFF;
}



.modal2 {    
    max-width: 490px;
    width: 100%;
    background: #fff;
    padding: 125px 50px 128px;
    display: none;
}
.modal2 .modal_title {
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 70px;
    line-height: 82px;
    text-align: center;
    letter-spacing: 0.02em;    
    color: #212121;   
    margin-top: 42px;
}
.modal2 .modal_text {
    margin-top: 6px;
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #0AA7B1;
    margin-bottom: 0;
}
.modal2 .modal_desc {
    margin-top: 48px;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    color: #212121;
    text-shadow: 0px 6px 10px rgba(0, 0, 0, 0.04);
}
.modal2 .modal_img {
    margin: 0 auto;
}
.modal2 form button {
    margin-top: 12px;
    width: 414px;
    height: 45px;
    background: #F3CD67;
    box-shadow: 0px 7px 15px rgba(243, 205, 103, 0.4);
    border-radius: 2px;
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #212121;
    transition: all .4s;
}
.modal2 form button:hover {
    background: #E2B848;
}
.modal2 form button:active {
    background: #0AA7B1;
    box-shadow: 0px 5px 15px rgba(10, 167, 177, 0.4);
    color: #FFFFFF;
}